.links-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  &-header h2 {
    font-size: 3.2rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.container {
  margin: 4rem 4rem 0;
}

.phone-container-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background-color: var(--dark-white);
  padding: 2rem 6rem 4rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.instructions {
  font-size: 1.6rem;
  color: var(--med-gray);
  margin: 1rem 0;
}

.add-link-btn {
  margin: 2rem 0 2.4rem;
  width: 100%;
  margin-bottom: 0;
}

.link-header {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  margin-bottom: 1.2rem;
}

.link-title {
  margin: 0;
  color: var(--med-gray);
  font-size: 1.6rem;
  font-weight: 700;
}

.links-form {
  flex-grow: 1;
  padding: 0 4rem 4rem;
  max-height: calc(100vh - 49rem);
  overflow-y: auto;
  min-height: 37rem;
  margin-top: 2.4rem;
}

.started-txt {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 4rem 0 2.4rem;
  text-align: center;

  & + .instructions {
    max-width: 48rem;
    text-align: center;
  }
}

.select-box {
  appearance: none;

  &.open + .dropdown-arrow {
    transform: translateY(-50%) rotate(180deg); // Rotate arrow when open
  }
}

.dropdown-arrow {
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%); // Center vertically
  pointer-events: none; // Prevent the arrow from being clickable
  transition: transform 0.3s ease;
}

.footer {
  display: flex;
  justify-content: end;
  padding: 2.4rem 4rem;
  border-top: 0.1rem solid var(--light-gray);
}

.link-item {
  margin-bottom: 2.4rem;
  padding: 2rem;
  background-color: var(--dark-white);
  border-radius: 1.2rem;
}

.remove-button {
  background: none;
  border: none;
  color: var(--med-gray);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: auto;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
}

.drag-handle {
  cursor: move;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.link-items.cdk-drop-list-dragging .link-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.max700 {
  .container {
    margin: 2.4rem 2.4rem 0;
  }

  .phone-container-block {
    margin: 0 2.4rem 2.4rem;
  }

  .footer {
    padding: 1.6rem;
  }

  .save-btn {
    flex-grow: 1;
  }

  .started-txt,
  .links-section-header h2 {
    font-size: 2.4rem;
  }
}
