<form
  aria-labelledby="links-section"
  class="links-section"
  [formGroup]="linksForm"
  (ngSubmit)="onSubmit()"
  [ngClass]="{
    max700: (isMaxWidth500$ | async)
  }"
>
  <div class="container">
    <header class="links-section-header">
      <h2>Customize your links</h2>
    </header>

    <p class="instructions">
      Add/edit/remove links below and then share all your profiles with the
      world!
    </p>

    <button
      class="add-link-btn"
      appOutlineBtn
      type="button"
      (click)="addLink()"
      aria-label="Add new link"
    >
      + Add new link
    </button>
  </div>
  <figure class="phone-container-block" *ngIf="links.controls.length < 1">
    <img
      src="../../assets/images/illustration-empty.svg"
      alt="Illustration of hand pressing a link on a phone screen"
    />
    <figcaption class="started-txt">Let's get you started</figcaption>
    <p class="instructions">
      Use the “Add new link” button to get started. Once you have more than one
      link, you can reorder and edit them. We're here to help you share your
      profiles with everyone!
    </p>
  </figure>
  <div formArrayName="links" class="link-controls-container">
    <div *ngFor="let link of links.controls; let i = index" [formGroupName]="i">
      <!-- Your link entry form fields here -->
      <select formControlName="platform">
        <!-- options -->
      </select>
      <input
        formControlName="url"
        placeholder="e.g. https://www.github.com/johndoe"
      />
      <button type="button" (click)="removeLink(i)">Remove</button>
    </div>
  </div>
  <footer class="footer">
    <button
      class="save-btn"
      [disabled]="!links.length"
      appPrimaryBtn
      type="button"
    >
      Save
    </button>
  </footer>
</form>
