.links-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  &-header h2 {
    font-size: 3.2rem;
    margin-top: 0;
  }
}

.container {
  margin: 4rem 4rem 0;
}

.phone-container-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 1.2rem;
  background-color: var(--dark-white);
  padding: 2rem;
  margin: 0 4rem 4rem;
}

.instructions {
  font-size: 1.6rem;
  color: var(--med-gray);
}

.add-link-btn {
  margin: 2rem 0 2.4rem;
  width: 100%;
}

.link-controls-container {
  flex-grow: 1;
  margin: 0 4rem 4rem;
}

.started-txt {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 4rem 0 2.4rem;
  text-align: center;

  & + .instructions {
    max-width: 48rem;
    text-align: center;
  }
}

.footer {
  display: flex;
  justify-content: end;
  padding: 2.4rem 4rem;
  border-top: 0.1rem solid var(--light-gray);
}

.max700 {
  .container {
    margin: 2.4rem 2.4rem 0;
  }

  .phone-container-block {
    margin: 0 2.4rem 2.4rem;
  }

  .footer {
    padding: 1.6rem;
  }

  .save-btn {
    flex-grow: 1;
  }

  .started-txt,
  .links-section-header h2 {
    font-size: 2.4rem;
  }
}
