<section
  aria-labelledby="links-section"
  class="links-section"
  [ngClass]="{
    max700: (isMaxWidth500$ | async)
  }"
>
  <div class="container">
    <header class="links-section-header">
      <h2>Customize your links</h2>
    </header>

    <p class="instructions">
      Add/edit/remove links below and then share all your profiles with the
      world!
    </p>

    <button
      class="add-link-btn"
      appOutlineBtn
      type="button"
      aria-label="Add new link"
    >
      + Add new link
    </button>
  </div>
  <figure class="phone-container-block">
    <img
      src="../../assets/images/illustration-empty.svg"
      alt="Illustration of hand pressing a link on a phone screen"
    />
    <figcaption class="started-txt">Let's get you started</figcaption>
    <p class="instructions">
      Use the “Add new link” button to get started. Once you have more than one
      link, you can reorder and edit them. We're here to help you share your
      profiles with everyone!
    </p>
  </figure>
  <footer class="footer">
    <button class="save-btn" disabled appPrimaryBtn type="button">Save</button>
  </footer>
</section>
