.dialog {
  font-family: "Instrument Sans", sans-serif;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-gray);
}

p {
  font-size: 1.6rem;
  color: var(--dark-gray);
}

.actions {
  padding: 2.3rem;
  gap: 2rem;
}
