.dashboard-container {
  display: grid;
  grid-template-rows: auto 1fr; /* Header size set by content, remaining space for aside and main */
  grid-template-columns: 1fr 1.7fr; /* Aside takes 1 part, main content 3 parts */
  grid-template-areas:
    "header header"
    "aside main";
  min-height: 100vh;
  max-width: 111rem;
  margin: auto;
  gap: 2.4rem;
  padding: 2.4rem;
}

.dashboard-header,
.dashboard-aside,
.dashboard-main {
  border-radius: 1.2rem;
  /* Apply padding or other styles as needed */
  background-color: var(--white);
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  padding: 2.4rem;
}

.dashboard-aside {
  grid-area: aside;
  padding: 2.4rem;
}

.dashboard-main {
  grid-area: main;
  overflow: auto; /* Scrollable if content overflows */
}

.large-logo {
  height: 3.2rem;
}

.small-logo {
  display: none;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.eye-icon {
  display: none;
}

.dashboard-aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max700 {
  .btn-text {
    display: none;
  }
  .eye-icon {
    display: block;
  }

  .eye-btn {
    padding: 1.1rem 1.6rem;
  }

  .large-logo {
    display: none;
  }

  .small-logo {
    display: inline-block;
  }
}

.max900 {
  grid-template-areas:
    "header header"
    "main main";

  .dashboard-aside {
    display: none;
  }
}
