.profile-details-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  &-header h2 {
    font-size: 3.2rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.profile-details-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: var(--dark-white);
  border-radius: 1.2rem;
  padding: 2rem;
  margin-bottom: 2.4rem;
}

.container {
  margin: 4rem 4rem 0;
}

.instructions {
  font-size: 1.6rem;
  color: var(--med-gray);
  margin: 1rem 0;
}

.picture-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 4rem 0 2.4rem;
  background-color: var(--dark-white);
  border-radius: 1.2rem;
  padding: 2rem;
}

.picture-upload__label {
  font-size: 1.6rem;
  flex: 2;
  color: var(--med-gray);
  white-space: nowrap;
}

.picture-upload__info {
  flex: 1.5;
  font-size: 1.2rem;
  color: var(--med-gray);
  margin-top: 1.6rem; /* Adjust space between box and info text as needed */
}

.input {
  padding-left: 1.6rem;
}

.footer {
  display: flex;
  justify-content: end;
  padding: 2.4rem 4rem;
  border-top: 0.1rem solid var(--light-gray);
}

.notMobile .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    flex: 1;
    font-size: 1.6rem;
    color: var(--med-gray);
  }

  .input-container {
    margin: 0;
    flex: 1.5;
  }
}

.max600 {
  .picture-upload {
    flex-direction: column;
    align-items: flex-start;
  }
}

.max500 {
  .profile-details-section-header h2 {
    font-size: 2.4rem;
  }

  .container {
    margin: 2.4rem 2.4rem 0;
  }

  .footer {
    padding: 1.6rem;
  }

  .save-btn {
    flex-grow: 1;
  }
}
