<div
  class="preview-container"
  [ngClass]="{
    max500: (isMaxWidth500$ | async),
    max350: (isMaxWidth350$ | async)
  }"
  >
  @if (isAuthenticated) {
    <header class="preview-header">
      <button
        type="button"
        aria-label="Back to Editor"
        appOutlineBtn
        class="share-link-button"
        (click)="backToEditor()"
        >
        Back to Editor
      </button>
      <button
        type="button"
        appPrimaryBtn
        aria-label="Share Link"
        class="share-link-button"
        (click)="shareLink()"
        >
        Share Link
      </button>
    </header>
  }
  <main class="preview-content">
    <div #userCard class="user-card">
      @if (profile$ | async; as profile) {
        <app-avatar [profile]="profile"></app-avatar>
        <h1 class="header" #nameTextElm>
          {{ profile.firstName }} {{ profile.lastName }}
        </h1>
        <p class="email">{{ profile.email }}</p>
      }
      @if (links$ | async; as links) {
        @if (links.length) {
          <div class="links">
            @for (link of links; track link) {
              <app-link
                [linkBlock]="link"
                [extraPadding]="true"
              ></app-link>
            }
          </div>
        }
      }
    </div>
  </main>
</div>
<div #bgPanel class="bg-panel"></div>
