<div
  class="preview-container"
  [ngClass]="{
    max500: (isMaxWidth500$ | async),
    max350: (isMaxWidth350$ | async)
  }"
>
  <header class="preview-header">
    <button
      type="button"
      appOutlineBtn
      class="share-link-button"
      (click)="navigateToDashboard()"
    >
      Back to Editor
    </button>
    <button
      type="button"
      appPrimaryBtn
      class="share-link-button"
      (click)="shareLink()"
    >
      Share Link
    </button>
  </header>
  <main class="preview-content">
    <div #userCard class="user-card">
      <ng-container *ngIf="profile$ | async as profile">
        <app-avatar [profile]="profile"></app-avatar>
        <h1 class="header" #nameTextElm>
          {{ profile.firstName }} {{ profile.lastName }}
        </h1>
        <p class="email">{{ profile.email }}</p>
      </ng-container>
      <ng-container *ngIf="links$ | async as links">
        <div class="links" *ngIf="links.length">
          <app-link
            *ngFor="let link of links"
            [linkBlock]="link"
            [extraPadding]="true"
          ></app-link>
        </div>
      </ng-container>
    </div>
  </main>
</div>
<div #bgPanel class="bg-panel"></div>
