.preview {
  &-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 111rem;
    margin: 0 auto;
    padding: 2.4rem;
    z-index: 1;
    position: relative;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    background-color: var(--white);
    border-radius: 1.2rem;
  }

  &-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.email {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--med-gray);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5.6rem;
}

.user-card {
  max-width: 35rem;
  border-radius: 2.4rem;
  padding: 4.8rem 5.6rem;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: var(--white);
  margin: 2.4rem 0;

  h1 {
    font-size: 3.2rem;
  }
}

.bg-panel {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);
  width: 100%;
  z-index: 0;
  border-radius: 0 0 3.2rem 3.2rem;
}

.max500 {
  padding: 0;

  + .bg-panel {
    display: none;
  }

  & .preview {
    &-header {
      padding: 1.6rem 2.4rem;
    }

    &-content {
      flex: 0;
      background-color: var(--white);
    }
  }

  .user-card {
    margin: 0;
    padding: 4.4rem 0;
    box-shadow: none;
  }
}

.max350 {
  .preview-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
